:root {
    --text-color: white;
    --background-color: #28273f;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: row;

    list-style-type: none;

    margin-top: 10px;
    margin-bottom: 25px;
}

.list-item {
    border-radius: 12px;
    background: var(--background-color);

    margin: 20px;
    padding: 20px 20px;

    cursor: pointer;
    transition: all 0.4s;

    width: 15%;
}

.list-item:hover {
    transform: translateY(-10px);
}

.list h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    color: var(--text-color);
    background: var(--background-color);
}

.list img {
    width: 100%;
    height: auto;
    background: var(--background-color);
    border-radius: 12px;
}


@media (min-width: 769px) and (max-width: 1280px) {
    .list-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .list {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .list-item {
        width: 60%;
    }

    .list-item:hover {
        transform: none;
    }
}