

.list {
    display: flex;
    justify-content: center;
    flex-direction: row;

    list-style-type: none;

    margin-top: 10px;
    margin-bottom: 25px;
}

.list-item {
    border-radius: 12px;
    background: var(--background-color);

    margin: 20px;
    padding: 20px 20px;

    cursor: pointer;
    transition: all 0.4s;

    width: 20%;

    animation: slide-right 1s linear forwards;
}

.list-item h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    color: var(--text-color);
    background: var(--background-color);

    transition: all ease 0.5s;

    opacity: 0.6;
}

.list-item img {
    width: 100%;
    height: auto;
    background: var(--background-color);
    border-radius: 12px;
    transition: all ease 0.5s;

    opacity: 0.6;
}

.list-item:hover img, .list-item:hover h2 {
    opacity: 1;
    transform: translateY(-5px) scale(1.03);
}


@media (max-width: 1280px) {
    .list-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .list {
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }
    .list-item {
        width: 60%;
    }

    .list-item:hover img, .list-item:hover h2 {
        transform: none;
    }


    .list img {
        opacity: 1;
    }
}