.nav {
    display: flex;
    position: absolute;

    top: 0;
    right: 0;
}

.nav img {
    width: 55px;
    height: 55px;
    border-radius: 12px;

    margin: 5px 5px;
}

.nav img:nth-child(1) {
    width: 95px;
}

.nav img:hover {
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1280px) {
    .nav {
        flex-direction: column;
    }
    .nav img:nth-child(2) {
        margin-left: 45px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}