.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 600px;
    height: 400px;

    animation: zoom-in-zoom-out 5s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }

    100% {
      transform: scale(1, 1);
    }
}

@media (max-width: 768px) {
  .header-img {
    width: 400px;
    height: 300px;
  }
}
