.locations {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    flex-wrap: wrap;
    text-align: center;
}

.location {
    border-radius: 12px;
    background: var(--background-color);

    width: 360px;
    height: 100%;

    padding: 25px;
    margin: 25px 25px;

    font-size: 22px;

    transition: all 0.4s;
    animation: slide-right 1.5s linear forwards;
}

.location ul {
    list-style-type: none;
}

.location ul li:nth-child(1) {
    text-align: center;
}

.location li {
    text-align: left;
}

.location-info {
    font-weight: bold;
}