.characters-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.characters {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    flex-wrap: wrap;
    text-align: center;

    margin-bottom: 50px;
}

.character {
    border-radius: 12px;
    background: var(--background-color);

    width: 360px;
    height: 100%;

    padding: 25px;
    margin: 25px 25px;

    font-size: 22px;

    transition: all 0.4s;
    animation: slide-right 1.5s linear forwards;
}

.character ul {
    list-style-type: none;
}

.character ul li:nth-child(1), .character img {
    text-align: center;
    margin-bottom: 10px;
}

.character li {
    text-align: left;
}

.character-info {
    font-weight: bold;
}

.status-alive::after {
    content: " ●";
    color: lime;
    font-size: smaller;
}

.status-dead::after {
    content: " ●";
    color: red;
    font-size: smaller;
}

.status-unknown::after {
    content: " ●";
    color: orange;
    font-size: smaller;
}

.character img {
    width: 256px;
    border-radius: 50%;

    animation: blend-in 3s linear forwards;
}